.container {
    box-sizing: border-box;
    max-width: 1500px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.titulo-bg {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--c5);
}

.botao {
    display: inline-block;
    padding: 16px 32px;
    background: var(--c2);
    border-radius: 4px;
    box-shadow: 0 1px 2px var(--c6);
    text-transform: uppercase;
    color: #332200;
    font-size: 15px;
    line-height: 1.33;
    font-weight: bold;
    max-width: max-content;
}

.botao:hover {
    background: var(--c7);
}

@media (max-width: 600px) {
    .titulo-bg h1 {
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 40px;
    }
    .botao {
        padding: 10px 14px;
        font-size: 12px;
    }
}
