.blog-bg {
    background-color: var(--c0);
    padding: 50px 20px;
}

.blog {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 40px;
    max-width: 1500px;
    margin: 0 auto;
    align-items: center;
}

.blog-imagem img {
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.blog-conteudo {
    padding: 100px 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blog-conteudo > span {
    display: block;
    color: var(--c2);
    font-size: 1.2rem;
    font-weight: bold;
}

.blog-conteudo h2 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 2rem;
}

.blog-conteudo > p {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.blog-conteudo a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--c2);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.blog-conteudo a:hover {
    background: var(--c1);
}

.blog-coluna {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.blog-coluna div {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-coluna h3 {
    font-size: 1.2rem;
    color: var(--c2);
    margin-bottom: 8px;
}

.blog-coluna p {
    font-size: 1rem;
    color: var(--c3);
}

@media (max-width: 1024px) {
    .blog {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .blog-imagem img {
        max-width: 400px;
        margin: 0 auto;
    }

    .blog-conteudo {
        padding: 30px;
    }

    .blog-conteudo h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .blog {
        gap: 20px;
    }

    .blog-conteudo {
        padding: 20px;
    }

    .blog-conteudo h2 {
        font-size: 1.5rem;
    }
    .blog-imagem img {
        display: none;
    }
    .blog-coluna {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .blog-imagem img {
        display: none;
    }

    .blog-conteudo h2 {
        font-size: 1.3rem;
    }

    .blog-conteudo a {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}
