.depoimento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "texto imagem";
    background-color: var(--c0);
    overflow: hidden;
    max-width: 1500px;
    margin: auto;
}

.depoimento img {
    width: 100%;
    max-height: 100vh;
    height: auto;
    object-fit: cover;
    grid-area: imagem;
}

.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: center;
}

.depoimento-conteudo p {
    padding: 0px 0px 25px;
    font-size: 20px;
    max-width: 80ch;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 30px;
}

.depoimento-conteudo h2 {
    margin-top: 50px;
    margin-bottom: 40px;
}

@media (max-width: 1000px) {
    .depoimento {
        grid-template-columns: 1fr;
        grid-template-areas: "texto" "imagem";
        text-align: center;
    }
    .depoimento img {
        display: none;
    }
    .depoimento-conteudo {
        padding: 40px 20px;
        margin: auto;
        padding-top: 0px;
    }
    .depoimento-conteudo h2 {
        font-size: 30px;
    }
    .depoimento-conteudo p {
        font-size: 16px;
    }
}